 * {   
  box-sizing: border-box;

 }
html, body {
  overflow-x:hidden; 
  background:rgb(0, 0, 0);

}

 main{
  /* background:rgba(5, 5, 1, 0.801) */
   }
 .nav-bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.93);
    backdrop-filter: blur(1.5rem);
    color: rgba(5, 5, 1, 0.801);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 2;
    transition: background-color 1s, color 1.1s;
  }

  .nav-bar--hidden {
    background-color: transparent;
    backdrop-filter: blur(0rem);
    color: rgb(212, 214, 193);
  }

  .nav-bar ul {
    list-style-type: none;
    margin-left: auto;
    display: inline-block;
    width: auto;
  }
  .nav-bar ul li {
    display: inline-block;
    padding: 20px;
    font-size: 17px;
    font-family: gingerRegular, sans-serif;
    font-weight: bold;
  }

  .banner {
    height: 100vh; 
    background: rgb(235, 225, 225);
    color:rgba(240, 239, 230, 0.705);
    display: flex;
    justify-content: left;
    align-items: center;
 }
.banner img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.main-title {
    position: absolute;
    top: 30%;
    left: 45%;
    font-size: 6rem;
    transform: translate(-30%, -50%);
    color: rgb(255, 255, 255);
}

.shuttel {
  position: absolute;
  top: 80%;
  left: 0%;
  width: 125px !important;
  height: 125px !important;
  background: transparent;
 }

.animation-1{
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.animation-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hearts-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* overflow-x: clip;  not sure */
    
}
.hearts-div img{
  width: 90%;
  height: auto;
  margin: 10px;
  background-color: transparent;     
}

.anime {
  opacity: 0;
		-webkit-transform: translateX(-40px);
			 -moz-transform: translateX(-40px);
				-ms-transform: translateX(-40px);
				 -o-transform: translateX(-40px);
						transform: translateX(100%) rotateY(1turn);
		-webkit-transition: all 0.6s ease-out;
			 -moz-transition: all 0.6s ease-out;
				-ms-transition: all 0.6s ease-out;
				 -o-transition: all 0.6s ease-out;
						transition: all 0.6s ease-out;
 }
.anime-ontoggle {
  opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotating-img {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.rotating-div {
  display: flex;
  justify-content: center;
}
.rotating-img {
  width: 50%;
  height: 50%;
  -webkit-animation: rotating-img 4s linear infinite;
  -moz-animation: rotating-img 4s linear infinite;
  -ms-animation: rotating-img 4s linear infinite;
  -o-animation: rotating-img 4s linear infinite;
  animation: rotating-img 4s linear infinite;
  animation-fill-mode: forwards;

}

/* mobile */
@media screen and (max-width: 700px) {
  .main-title {
    font-size: 4rem;
    top: 35%;
    left: 45%;
  }  

  .animation-1 div{
    display: flex;
    justify-content: center;
  }
  .animation-1 img{
    width: 90%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1250px){
  .hearts-div img{
    width: 300px;
   }
}

@media screen and (min-width: 1250px) and (max-width: 1500px){
  .hearts-div img{
    width: 400px;
   }
}
 